.header {
  background-color: $second-color;
  padding: 9px 16px;
  margin: 10px auto 0px;
  border-radius: 50px;
  width: 90%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.login {
  padding: 5px 10px;
  font-size: 18px;
  line-height: 20px;
  color: $main-color;
  border: 1px solid $white;
  transition: border-color 0.5s ease, color 0.5s ease;
  &:hover,
  &:active {
    border-color: $main-color;
    color: $white;
  }
}

@media (min-width: $width-tablet) {
  .header {
    padding: 9px 16px;
  }

  .login {
    padding: 5px 10px;
    font-size: 18px;
    line-height: 20px;
  }
}

@media (min-width: $width-desktop) {
  .header {
    padding: 18px 32px;
    margin: 30px auto 0px;
  }

  .login {
    font-size: 20px;
    line-height: 25px;
    padding: 10px 20px;
  }
}
