.info {
  background-color: $header-color;
  color: $white;
}

.info__preview {
  background-image: url("../../icons/info-img.svg");
}


.info__text-container {
  display: flex;
  gap: 20px;
}

@media (min-width: $width-tablet) {
  .info__text-container {
    gap: 100px;
  }

}

