.mission {
  background-color: $gray;
}

.mission__preview {
  background-image: url("../../icons/mission-img.svg");
}

.mission__link {
  font-size: 14px;
  line-height: 18px;
  color: $second-color;
  padding: 8px;
  border: 1px solid $second-color;
}

@media (min-width: $width-desktop) {
  .mission__link {
    max-width: 130px;
    margin-left: 30px;
  }
}
